.container{

    width: 100%;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-color: #F9F9F9;
}
.shareCart{
    background-color: #FC8A06;
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 8px;
    padding: 0.8rem;
    font-weight: 600;
    margin-bottom: 1.1rem;
    
    
}
.shareIcon{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.copyBtn{
    background-color: white;
    color: #FC8A06;
    border-radius: 100px;
    margin: 0;
    width: 60%;
    padding: 0 0.3rem;
    font-weight: 550;
}
.basket{
  
    border-radius: 8px;
    border: 1px solid #0000001C;
   
  

}
.basketHead{
    background-color: #028643;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 4rem;
    border: 1px solid #0000001C;
    font-weight: 600;
    letter-spacing: 0.06rem;
    border-radius: 8px 8px 0 0;
    
}
.cartItems{
   margin: 0;
   padding: 0;
}
.cartItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-right: 1rem; */
    /* width: 100%; */
    border-bottom: 1px solid #00000033;
    padding: 0.2rem 2rem;
    /* padding: 0.5rem 1.5rem; */
}
/* .itemDetails{
    margin: 0;

} */
/* .dividerLine{
    width: 100%;
    height: 1px;
    background-color: 00000033;
    
} */
.itemCount{
    background-color: #FC8A06;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 0.7rem 1rem;
    margin-right: 1.5rem;
}
.cost{
    color: #028643;
    font-weight: 600;
    /* margin-bottom: 0.2rem;  */
    margin: 0;

}
.itemName{
    font-weight: 600;
    margin: 0;
    margin-bottom: 0;
}
.extraText{
    margin: 0.3rem 0;
}
.removeIcon{
    cursor: pointer;
    margin-left: auto;
    transition: transform 0.2s ease;
}
.removeIcon:active{
    transform: scale(0.85);
}

.subTotal,.discounts,.deliveryFee{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 2.7rem;

}
.bill{
    padding: 0 2rem  ;
    font-weight: 600;
    border-bottom: 1px  solid #00000033;
    padding-bottom: 1rem;
}
.amount{
    font-size: 1.2rem;
    font-weight: 400;
}

.totalAndCoupon{
    padding: 0 1rem;
    box-sizing: border-box;
    /* padding :  0 1.5rem; */
    border-bottom: 1px  solid #00000033;
}
.totalToPay,.freeItem,.couponCode{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem  ;
    margin : 1rem 0rem;

}
.totalToPay{
    background: #FC8A06CC;
    font-weight: 600;
    border-radius: 8px;
    /* width: 15rem; */
    height: 3.5rem;
    color: white;
    display: flex;
    align-items: center;
    
}
.totalCost{
    font-size: 1.5rem;
}
.freeItem,.couponCode{
    /* font-weight: 350; */
    font-size: small;
    border: 1px solid #CFCFCF;
    border-radius: 120px;
    /* width: 15rem; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem  1rem;
}
.deliveryTime{
    border: 1px solid #00000033;
    background-color: #EEEEEE;
    border-radius: 12px;
    padding: 1.5rem;

}
.subHead{
    font-weight: 550;
    margin: 0;
}
.timing{
    margin: 0;
}
.checkoutContainer{
    position: relative;
}
.checkout{
    background-color: #028643;
    display: flex;
    align-items: center;
    color: white;
    padding:0 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem;
    border: 1px solid #0000001C;
    border-radius: 8px;
    cursor: pointer;
    /* cursor: crosshair; */
    
  
}
.checkoutDisabled{
    background-color: #FFB1B1;
    display: flex;
    align-items: center;
    color: white;
    padding:0 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem;
    border: 1px solid #0000001C;
    border-radius: 8px;
    cursor: not-allowed;
}
.tooltip {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 120%; /* Position below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a2e; /* Dark background */
    color: white;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80%;
    font-size: 0.8rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Positioned at the top of the tooltip box */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #1a1a2e transparent; /* Arrow pointing up */
  }
  
  .checkoutContainer:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
.checkoutIcon{
    width: 3rem;
    height: 3rem;
    margin-right: 3rem;
}
.colored{
    color: #FC8A06;
}