.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2rem;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
    margin-left: 0;
    padding: 0;
}
.category{
    background-color: #F5F5F5;
    border: 1px solid #0000001A;
    border-radius: 12px;
    padding-bottom: 0.6rem;
    list-style: none;
    
}
.image{
    width: 13rem;
}

.categoryName{
    color: #03081F;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    margin-left: 1rem;
}
.restaurantNo{
    color: #FC8A06;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    margin-left: 1rem;
}

@media (max-width: 768px){
    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}