.conatiner{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.body{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-wrap: wrap;
   
}
.foodDeals{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}
.deal1{
    position: relative;
    list-style: none;
    width: 26rem;
    margin-right: 1rem;
    

}
.foodDealImage{
    /* width: 27rem; */
    width: 100%;
    /* width: 94%; */
    cursor: pointer;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.discount{
    background-color: #03081F;
    color: white;
    width: fit-content;
    padding: 1rem;
    border-radius: 0  0 12px 12px;
    font-weight: bold;
    letter-spacing: 0.02rem;
    position: absolute;
    top: -1rem;
    right: 3rem;
}
.dealContent{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.restaurant{
    color: #FC8A06;
    margin: 0;
    font-size: 1.1rem;
}
.restaurantName{
    color: white;
    margin: 0.5rem 0;
    font-size: 1.45rem;

}
@media (max-width: 768px) {
    .foodDeals{
        /* flex-wrap: nowrap; */
        width: fit-content;
    }
    .deal1{
        /* width: ; */
    }
    .foodDealImage{
        width: 100%;
        /* display: none; */
        /* width: 12rem;
        height: 10rem; */

    }
  }
